API/appsettings.json
Core/bin/Debug/net8.0/Core.deps.json
Core/bin/Debug/net8.0/Core.dll
Core/bin/Debug/net8.0/Core.pdb
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Core.csproj.nuget.g.targets
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/net8.0/Core.assets.cache
Core/obj/Debug/net8.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Debug/net8.0/Core.csproj.FileListAbsolute.txt
Core/obj/Debug/net8.0/Core.dll
Core/obj/Debug/net8.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Debug/net8.0/Core.GlobalUsings.g.cs
Core/obj/Debug/net8.0/Core.pdb
Core/obj/Debug/net8.0/ref/Core.dll
Core/obj/Debug/net8.0/refint/Core.dll
Infrastructure/bin/Debug/net8.0/Core.dll
Infrastructure/bin/Debug/net8.0/Core.pdb
Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
Infrastructure/bin/Debug/net8.0/Infrastructure.dll
Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
Infrastructure/obj/Infrastructure.csproj.EntityFrameworkCore.targets
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Infrastructure/obj/Debug/net8.0/Infrastr.15EFFBFE.Up2Date
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/net8.0/Infrastructure.dll
Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
